body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: peachpuff;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: blanchedalmond;
    color: rgb(65, 64, 64);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: orange;
    color: gray;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: palegoldenrod;
}
button:active{
    background-color: rgb(221, 217, 173);
}
.operator-btn{
    background-color: rgb(179, 179, 24);
}
.operator-btn:hover{
    background-color: rgb(161, 161, 22);
}
.operator-btn:active{
    background-color: rgb(161, 161, 22);
}